<%= form_for(@runner) do |f| %>
  <% if @runner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@runner.errors.count, "error") %> prohibited this runner from being saved:</h2>

      <ul>
      <% @runner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :poster_id %><br />
    <%#= f.number_field :poster_id %>
  </div>
  <div class="field">
    <%#= f.label :message_id %><br />
    <%#= f.number_field :message_id %>
  </div>
  <div class="field">
    <%#= f.label :task_id %><br />
    <%#= f.number_field :task_id %>
  </div>
  <div class="field">
    <%= f.label :skills %><br />
    <%= f.text_area :skills %>
  </div>
  <div class="field">
    <%= f.label :background%><br />
    <%= f.check_box :background %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
