<html>
<head>
	<title></title>
	<link href="../assets/css/bootstrap.css" rel="stylesheet">
	
</head>

<div class="jumbotron">
        <h1>Deligate your life. Gain peace of mind.</h1>
        <p class="lead">Find reliable help to get those 'To-Dos' DONE. </p>
        <a class="btn btn-large btn-success" href="<%= new_task_url %>">Post A Task</a>
      </div>

      <hr>
      <br>
<body>
	<div class="row-fluid thumbnails"
<ul class="thumbnails">
  <li class="span5">
  	<%= image_tag("done-pets.png")%>
   
  </li>


</ul>

<ul class="thumbnails">
  <li class="span5 offset2">
  	<%= image_tag("done-pets.png")%>
   
  </li>

  <ul class="thumbnails">
  <li class="span5">
  	<%= image_tag("done-pets.png")%>
   
  </li>

<ul class="thumbnails">
  <li class="span5 offset2">
  	<%= image_tag("done-pets.png")%>
   
  </li>
	</div>
</body>


</html>
